
#edit {
 background-color: #7afd5f;
 color: rgb(0, 0, 0);
    font-weight:bold;
    text-align: center;
    font-size: 20px;
}
#del {
 background-color: #ff4d4d;
 color: rgb(0, 0, 0);
    font-weight:bold;
    text-align: center;
    font-size: 20px;
}
#form  {
  display:none;
  width: 50%;
  font-weight:bold;
 border: 2px solid rgb(128, 252, 128);
 padding: 2rem;
 background-color: #81fc96;
 color: rgb(12, 12, 12);
 text-align: center;
}
#btn{
 padding: 0.7rem;
 text-align: center;
}
#clear{
 text-align: center;
}
h1 {
 border: 12px solid rgb(255, 255, 255);
color: rgb(19, 0, 126);
text-align: center;
font-weight:bold;
font-family: "Times New Roman", Times, serif;
font-size: 40px;
}
body {
    background-image: url("https://images.unsplash.com/photo-1513542789411-b6a5d4f31634?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fGVkdWNhdGlvbnxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&w=1000&q=80");
    background-repeat: repeat;
    background-color: #cccccc;  
    height: auto; 
    padding: 0rem;
}
